#files
/mailscanner/conf.php
/mailscanner/skin.css
/mailscanner/lib/htmlpurifier/standalone/HTMLPurifier/DefinitionCache/Serializer/HTML/

#development files
/_msconfig/
/vendor/
/var/

/.php-cs-fixer.cache
/.phpunit.cache
/.phpstan-cache
/phpstan.neon
