#files
/mailscanner/conf.php
/mailscanner/skin.css

#development files
/_msconfig/
/vendor/

/.php_cs.cache

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/public/s/conf.php
/public/s/skin.css
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
