parameters:
	level: 0
	paths:
	    - mailscanner
	    - tools
	excludePaths:
	    - mailscanner/lib/*
	fileExtensions:
	    - php
	    - inc
	scanFiles:
	    - mailscanner/lib/ForceUTF8/Encoding.php
	    - mailscanner/lib/htmlpurifier/HTMLPurifier.standalone.php
	    - mailscanner/lib/maxmind-db/reader/src/MaxMind/Db/Reader.php
	    - mailscanner/lib/pear/Mail/mimeDecode.php
	    - mailscanner/lib/pear/Mail/mime.php
	    - mailscanner/lib/pear/Mail/smtp.php
	    - mailscanner/lib/pear/Pager.php
	    - mailscanner/lib/request/Requests.php
	    - mailscanner/lib/request/Requests/Session.php
	    - mailscanner/lib/request/Requests/Exception.php
	    - mailscanner/lib/xmlrpc/xmlrpc.inc
	    - mailscanner/lib/xmlrpc/xmlrpc_wrappers.inc
	    - mailscanner/lib/xmlrpc/xmlrpcs.inc
	    - mailscanner/lib/IPSet.php
	bootstrapFiles:
	    - mailscanner/conf.php.example
