<?php

/*
 * MailWatch for MailScanner
 * Copyright (C) 2003-2011  Steve Freegard (steve@freegard.name)
 * Copyright (C) 2011  Garrod Alwood (garrod.alwood@lorodoes.com)
 * Copyright (C) 2014-2017  MailWatch Team (https://github.com/orgs/mailwatch/teams/team-stable)
 *
 * This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later
 * version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
 *
 * In addition, as a special exception, the copyright holder gives permission to link the code of this program with
 * those files in the PEAR library that are licensed under the PHP License (or with modified versions of those files
 * that use the same license as those files), and distribute linked combinations including the two.
 * You must obey the GNU General Public License in all respects for all of the code used other than those files in the
 * PEAR library that are licensed under the PHP License. If you modify this program, you may extend this exception to
 * your version of the program, but you are not obligated to do so.
 * If you do not wish to do so, delete this exception statement from your version.
 *
 * As a special exception, you have permission to link this program with the JpGraph library and distribute executables,
 * as long as you follow the requirements of the GNU GPL in regard to all of the software in the executable aside from
 * JpGraph.
 *
 * You should have received a copy of the GNU General Public License along with this program; if not, write to the Free
 * Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

///////////////////////////////////////////////////////////////////////////////
// Settings - modify to suit your configuration
///////////////////////////////////////////////////////////////////////////////

// Debug messages
define('DEBUG', false);

// Define language (de, en, fr, it, nl, pt_br);
// See http://www.lingoes.net/en/translator/langcode.htm
define('LANG', 'en');

// Database settings
//
// As this file might be publically readable. It might be very userful to
// have a completely separate username/password for this database.
//
// (IE) Do not use your main-global-admin accounts.
//
define('DB_TYPE', 'mysql');
define('DB_USER', 'mailwatch');
define('DB_PASS', 'mailwatch');
define('DB_HOST', 'localhost');
define('DB_NAME', 'mailscanner');
define('DB_DSN', DB_TYPE . '://' . DB_USER . ':' . DB_PASS . '@' . DB_HOST . '/' . DB_NAME);

// LDAP settings
define('USE_LDAP', false);
define('LDAP_SSL', false); // set to true if using LDAP with SSL encryption
define('LDAP_HOST', 'server.example.com');
define('LDAP_PORT', '389');
define('LDAP_PROTOCOL_VERSION', 3);
define('LDAP_DN', 'DC=example,DC=com');
define('LDAP_USER', 'LDAPProxy@example.com'); // if no email set: cn=admin,dc=example,dc=com
define('LDAP_PASS', 'secret');
define('LDAP_SITE', 'default');
// can be set to 'proxyaddresses' or 'mail'. Please refer to your LDAP system manual for the right keyword
define('LDAP_EMAIL_FIELD', 'proxyaddresses');
// Microsoft Active Directory compatibility support for searches from Domain Base DN
define('LDAP_MS_AD_COMPATIBILITY', false);

// Set Time Zone
// See http://php.net/manual/en/timezones.php for a list of usable timezones
define('TIME_ZONE', 'America/New_York');

// Proxy Settings
define('USE_PROXY', false);
define('PROXY_SERVER', '127.0.0.1');
define('PROXY_PORT', '8080');
// Can be set to HTTP or SOCKS5
define('PROXY_TYPE', 'HTTP');
// If left blank no authenication will be used
define('PROXY_USER', '');
define('PROXY_PASS', '');

// Paths
define('MAILWATCH_HOME', '/var/www/html/mailscanner');
define('MS_CONFIG_DIR', '/etc/MailScanner/');
define('MS_LIB_DIR', '/usr/share/MailScanner/');
define('MS_EXECUTABLE_PATH', '/usr/sbin/MailScanner');
define('IMAGES_DIR', './images/'); // trailing slash needed
define('CACHE_DIR', './images/cache/'); // JpGraph cache
define('TTF_DIR', './lib/jpgraph/src/fonts/'); // JpGraph fonts
define('SA_DIR', '/usr/bin/');
define('SA_RULES_DIR', '/usr/share/spamassassin/');
define('SA_PREFS', MS_CONFIG_DIR . 'spam.assassin.prefs.conf');
define('TEMP_DIR', '/tmp/');

// Define MailWatch logo name
define('MW_LOGO', 'mailwatch-logo.png');

// Define MailScanner logo name
define('MS_LOGO', 'mailscannerlogo.gif');

// Log file location
define('MS_LOG', '/var/log/mail.log');
define('MAIL_LOG', '/var/log/mail.log');

// Default number of results on Recent Messages and Message Listing Report
define('MAX_RESULTS', 50);
// Default refresh rate in seconds for the Recent Messages screen
define('STATUS_REFRESH', 30);

// Display Client IP Address on message listing
define('DISPLAY_IP', false);
// Set to true if you want to DNS resolve the IP address displayed (will slow page load)
define('RESOLVE_IP_ON_DISPLAY', false);

// Set the following to a value greater than zero to limit the length of the
// From, To and Subject columns in the 'Recent Messages' screen.
define('FROMTO_MAXLEN', 50);
define('SUBJECT_MAXLEN', 0);

// Date/Time settings
define('DATE_FORMAT', '%d/%m/%y');
define('TIME_FORMAT', '%H:%i:%s');

// Define how many days of emails to keep
define('RECORD_DAYS_TO_KEEP', 60);

// Define how many days to audit logs to keep
define('AUDIT_DAYS_TO_KEEP', 60);

// Show Software Version tab (only Admins can see it)
define('SHOW_SFVERSION', true);

// Show Documentation tab
define('SHOW_DOC', false);

// Show supplemental Postfix info in report
define('SHOW_MORE_INFO_ON_REPORT_GRAPH', false);

/* Quarantine settings */

// The quarantine flag is only available on MailScanner >=4.43
// it will dramtically improved the speed of quarantine operations
// but requires that you use the quarantine_maint.php in place of
// the clean.quarantine script provided with MailScanner.
define('QUARANTINE_USE_FLAG', true);
define('QUARANTINE_DAYS_TO_KEEP', 30);
define('QUARANTINE_MAIL_HOST', '127.0.0.1');
define('QUARANTINE_MAIL_PORT', '25');
define('QUARANTINE_FROM_ADDR', 'postmaster');
define('QUARANTINE_REPORT_FROM_NAME', 'MailWatch for MailScanner');
define('QUARANTINE_REPORT_SUBJECT', 'Message Quarantine Report');
define('QUARANTINE_SUBJECT', 'Message released from quarantine');
define('QUARANTINE_MSG_BODY', 'Please find the original message that was quarantined attached to this mail.

Regards,
Postmaster');
define('QUARANTINE_REPORT_HOSTURL', 'http://' . rtrim(gethostname()) . '/mailscanner');
define('QUARANTINE_REPORT_DAYS', 7);

// set QUARANTINE_USE_SENDMAIL to true to send released email as original email using sendmail,
//                                false to send it as an attachment to a release message
define('QUARANTINE_USE_SENDMAIL', false);
define('QUARANTINE_SENDMAIL_PATH', '/usr/sbin/sendmail');

// This turns virus names into links that can be used to get more information
// about a given virus or virus alias.  Comment out or set to false to disable.
define('VIRUS_INFO', "http://www.securelist.com/en/descriptions?words=%s&amp;behavior=&amp;Search=Search&amp;search_type=1");

// When filtering data - only use the envelope 'To' address or 'To' domain.
// This greatly increases perfomance as MySQL will not use indexes when
// two different fields are OR'd together.
define('FILTER_TO_ONLY', false);

// Set this to true to hide things that won't work correctly if you have
// a distributed set of MailScanners logging to a single database.
define('DISTRIBUTED_SETUP', false);

// PHP memory limit when viewing details and attachments of messages
// "128M" should be fine in most cases, but you may need to increase it if
// you're having problems viewing the details of large messages
define('MEMORY_LIMIT', "128M");

// Relative path to RPC server
define('RPC_RELATIVE_PATH', '/mailscanner');
// This defines who is allowed to use the RPC service using a space separated list
// of allowed clients as IP adddresses or in network/cidr (192.168.123.0/24) format.
// You can also use 'allprivate' to specify all private address ranges or 'local24'
// to specify the local subnet as a class C which is derived by looking up the
// hostname of the machine and changing the last octet to '0' and specifying
// it as a /24.  No connections are allowed by default.
define('RPC_ALLOWED_CLIENTS', '');
// RPC-only mode - used primarily for testing (you shouldn't need to enable this)
define('RPC_ONLY', false);
// RPC port (defaults to 80 if not supplied)
// define('RPC_PORT', 80);
// RPC over SSL?? (defaults to port 443 unless RPC_PORT is supplied
// define('RPC_SSL', true);

// Display the inbound/outbound mail queue lengths
// Note: this only works with Sendmail & Exim
// You will also need to run mailwatch/mailq.php from cron.
define('MAILQ', true);

// Do you want an audit trail?
define('AUDIT', false);

// Do you want the whitelist/blacklist functionality enabled??
// You'll need to configure MailScanner to use it accordingly.
define('LISTS', true);

// Force SSL connections only?
define('SSL_ONLY', false);

// Strip HTML from messages in the quarantine when viewed?
// This is probably a good idea...
define('STRIP_HTML', true);
// List of allowed tags - set as blank to strip everything
define('ALLOWED_TAGS', '<a><br><b><body><div><font><h1><h2><h3><h4><head><html><i><li><ol><p><small><span><strong><table><title><tr><td><th><u><ul>');

// Override VIRUS_REGEX??
// define('VIRUS_REGEX', '/(\S+) was infected by (\S+)/'); // SophosSAVI

// Enable MailScanner Rule Editor
// Initially disabled as other config needs to be done to use it
define('MSRE', false);
define('MSRE_RELOAD_INTERVAL', 5);
define('MSRE_RULESET_DIR', "/etc/MailScanner/rules");

// Spamassassin sa-learn max message size (Spamassassin Version >= 3.4.0)
// Size is in bytes
define('SA_MAXSIZE', 0);

// Hide High Spam and high mcp from regular users
// Prevent regular users from seeing high spam and high mcp
define('HIDE_HIGH_SPAM', false);

// Hide Non Spam from quarantine reports
define('HIDE_NON_SPAM', false);

// Hide Unknown Mail from quarantine reports
define('HIDE_UNKNOWN', false);

//Quarantine Auto Release
//Set true to allow auto release of quarantined items from quarantine report - note, requires DB modification, see auto-release.php
define('AUTO_RELEASE', false);
